<div class="container">
  <div class="card">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" class="card-img-top small-image" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= @flat.name %></h5>
      <p class="card-text"><%= @flat.description %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Address: <%= @flat.address %></li>
      <li class="list-group-item"><i class="fas fa-dollar-sign"></i> <%=@flat.price_per_night %></li>
      <li class="list-group-item"><i class="fas fa-users"></i> <%=@flat.number_of_guests %></li>
    </ul>
    <div class="card-body">
      <%= link_to edit_flat_path(@flat), class: 'card-link text-info' do %>
        <i class="fas fa-edit"></i> Edit Flat
      <% end %>
      <%= link_to flat_path(@flat), method: 'delete', class: 'card-link text-danger', data: {confirm: "Are you sure?"}  do %>
        <i class="fas fa-trash"></i> Delete Flat
      <% end %>
    </div>
  </div>
</div>
