<div class="container">
  <div>
  <%= render 'navbar_wagon_without_login' %>
  </div>
</div>

<div class="container">
  <div class="card">
    <img src="https://source.unsplash.com/random", width="auto", height="auto" class="card-img-top small-image" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= @flat.name %></h5>
      <p class="card-text"><%= @flat.description %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Address: <%= @flat.address %></li>
      <li class="list-group-item"><i class="fas fa-dollar-sign"></i> € <%=@flat.price_per_night %></li>
      <li class="list-group-item"><i class="fas fa-users"></i> number of people: <%=@flat.number_of_guests %></li>
    </ul>
    </div>
  <div>
    <%= link_to "More info", flat_path(@flat) %>
    <%= link_to "Edit Flat", edit_flat_path(@flat) %>

    <%= link_to flat_path(@flat), method: 'delete', data: {confirm: "Are you sure?"}  do %>
      Delete Flat
    <% end %>
  </div>
</div>
